:root {
    --primary: #ffd600;
    --secondary: #576ad4;
    --glasses: #d9d9d9;
    --black: #000000;
    --minion-width: 205px;
    --minion-height: 431px;
    --minion-border-width: 3.5px;
  }
  
  .minion {
    /*margin-left: 40px;*/
    left: 0;
    bottom: 260px;
    position: absolute;
    border-radius: 202px;
    height: 431px;
    width: var(--minion-width);
    background: var(--primary);
    border: var(--minion-border-width) solid var(--black);
  }

  .hairs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .hair {
    position: absolute;
    background: var(--black);
    width: 1.5px;
    height: var(--height);
    top: var(--top);
    left: var(--left);
    transform: rotate(var(--rotate));
  }
  
  .lower {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--secondary);
    height: 147px;
    left: 0;
    border-radius: 0 0 202px 202px;
  }

  .eye-band {
    position: absolute;
    background: var(--black);
    height: 20px;
    width: 100%;
    top: 90px;
    display: flex;
    justify-content: end;
  }